#(project
  (#(deps (#("rvirding/lfe" "develop")
           #("lfex/kla" "master")
           #("lfex/lcfg" "master")
           #("lfex/logjam" "master")))
   #(meta (
     #(name ledis)
     #(description "An LFE Redis Client Library")
     #(version "0.1.0")
     #(keywords ("LFE" "Lisp" "Library" "NoSQL" "Database" "Redis"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "lfex/ledis")))))))
#(ledis
  (#(client-process-name ledis-client)
   #(return-type string)))

#(logging (
   #(backend lager)
   #(options (#(lager_console_backend error)))))
