#(project
  (#(deps (#("rvirding/lfe" "develop")
           #("lfex/kla" "master")
           #("lfex/lcfg" "master")
           #("lfex/logjam" "master")))
   #(meta (
     #(name ledis)
     #(description "An LFE Redis Client Library")
     #(version "0.2.0")
     #(keywords ("LFE" "Lisp" "Library" "NoSQL" "Database" "Redis"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "lfex/ledis")))))))
#(ledis
  (#(client-process-name ledis-client)
   #(return-type binary)))

#(logging (
   #(colored true)
   #(colors (#(timestamp (color green))
             #(process (color cyan))
             #(date (color green))
             #(time (color green))
             #(modfunc (color yellow))
             #(message (color green))
             #(debug (color greenb))
             #(info (color blue))
             #(notice (color cyan))
             #(warning (color yellow))
             #(error (color red))
             #(critical (color yellowb))
             #(alert (color magentab))
             #(emergency (color redb))))
   #(backend lager)
   #(options (#(lager_console_backend (
                error
                #(logjam-formatter
                  (date " " time " [" pid "] [" severity "] " message "\n"))))))))
