#(project
  (#(deps (#("rvirding/lfe" "develop")
           #("lfex/kla" "master")))
   #(meta (
     #(name ledis)
     #(description "An LFE Redis Client Library")
     #(version "0.0.2")
     #(keywords ("LFE" "Lisp" "Library" "NoSQL" "Database"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "lfex/ledis")))))))
#(ledis
  (#(client-process-name ledis-client)
   #(return-type binary)))