{erl_opts, [debug_info]}.
{lfe_first_files, ["src/ledis-util.lfe",
                   "src/ledis-cfg.lfe"]}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test","src"]}
  ]}.
{deps, [
    {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.2"}}},
    {eredis, ".*", {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.8"}}},
    {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.6.6"}}},
    {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.3"}}},
    {kla, ".*", {git, "git://github.com/lfex/kla.git", {tag, "0.4.1"}}},
    {logjam, ".*", {git, "git://github.com/lfex/logjam.git", {tag, "0.1.0"}}}
  ]}.
